.copyWritingWidget {
  position: relative;
  width: 100%;
  height: 100%;

  .backImgWrapper {
    width: 1920px;
    height: 1080px;

    .img {
      width: 100%;
    }
  }

  .copyWritingWrapper {
    position: absolute;

    .copyWriting {
      font-size: 28px;
      font-weight: 600;
      color: var(--default-neutral-white, #FFF);
    }

    &Head {
      top: 270px;
      left: 200px;
      display: flex;
      width: 1000px;
      height: 90px;

      .copyWriting {
        align-self: center;
      }
    }

    &Body {
      top: 680px;
      left: 140px;
      width: 1300px;
      background: rgba(255, 255, 255, 0);
      backdrop-filter: blur(15px);

      .copyWriting {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    &Synopsis {
      top: 360px;
      left: 80px;
      max-width: 1000px;
      height: 140px;
      background: rgba(255, 255, 255, 0);
      backdrop-filter: blur(15px);

      .copyWriting {
        font-size: 29px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
      }
    }
  }
}