@import '../common';

$side-menu-flex-gap: 16px;
$header-margin-bottom: 4px;

.sideMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .menuWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: $side-menu-flex-gap;
    white-space: nowrap;
    transition: $width-transition;
    box-sizing: border-box;

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: $header-margin-bottom;
      gap: 8px;

      .logo {
        img {
          width: 17.91px;
          filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(78deg) brightness(103%) contrast(100%);
          }
      }

      .genieWordMarkWrapper {
        // background: #6941FF;

        .genieWordMark {
          // fill: url('images/genie_wordmark_white.png'), lightgray 0px 0px / 144.608% 100% no-repeat;
          img {
            width: 59.43px;
          }
        }
      }
    }

    [class*=MuiList-root] {
      padding: unset;
    }
  }

  .settingsWrapper {
    display: flex;
    padding: 10px 12px;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background: var(--default-neutral-white, #FFF);

    .userName {
      color: #3B13D0;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
    }

    .settingButton {
      display: inline-flex;
      padding: 0 0 0 16px;
      align-items: center;
      background: var(--default-neutral-white, #FFF);
      color: #3B13D0;
      min-width: unset;

      border-left-width: 1px;
      border-left-color: #E0E1F3;
      border-style: solid;
      border-radius: unset;

      &:hover,
      &:active {
        background: unset;
        color: #6A30D8;
      }

      :global(.MuiButton-startIcon) {
        margin: unset;

        .voteButtonIcon {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}

.closed {
  [class*='paper'] {
    width: $side-menu-close-width;
    overflow-x: hidden;
    z-index: $side-menu-close-zIndex;
  }
}