.copyWritingSuggestionItem {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  gap: 12px;

  .copyWritingSuggestionCardWrapper {
    padding: 20px;
    border-radius: 12px;
    flex: 1 0 0;
    box-shadow: 0px 4px 30px 0px rgba(102, 101, 116, 0.10);
    cursor: pointer;

    .cardHeader {
      padding: 0 0 8px;

      .chip {
        background: #FF8F6E;

        :global(.MuiChip-label) {
          color: var(--default-neutral-white, #FFF);
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 18px; /* 150% */
        }
      }
    }

    .cardContent {
      padding: unset;

      .typography {
        color: #6A30D8;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 166.667% */

        .pre {
          font-family: inherit;
          margin: unset;
          text-wrap: inherit;
        }
      }

      .cardContentText {
        width: 100%;

        :global(.MuiInputBase-root) {
          padding: unset;
          color: #0E0B31;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;

          &:before, &:after {
            border: none;
          }
        }
      }
    }

    .cardAction {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      align-self: stretch;
      padding: 18px 0 0;

      .wordCount {
        color: #6E7494;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 150% */
      }

      .buttonWrapper {
        display: flex;
        gap: 8px;

        .buttonIcon {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  .copyWritingSuggestionVoteWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;

    .voteButton {
      display: inline-flex;
      padding: 12px;
      align-items: center;
      border-radius: 50%;
      background: var(--default-neutral-white, #FFF) !important;
      color: #000;
      min-width: unset;
      box-shadow: 0px 4px 30px 0px rgba(102, 101, 116, 0.10);

      &:hover {
        color: #8138FF;
      }

      :global(.MuiButton-startIcon) {
        margin: unset;

        .voteButtonIcon {
          width: 16px;
          height: 16px;
        }

        .voteButtonIconFilled {
          color: #8138FF;
        }
      }
    }
  }
}

