@import './common';

$layout-space: 20px;
$wrapper-height: 100%;
$wrapper-background-gradient-angle: 145deg;
$wrapper-background-gradient-start-color: #522CBB;
$wrapper-background-gradient-start-color-length: 0%;
$wrapper-background-gradient-end-color: #833CF5;
$wrapper-background-gradient-end-color-length: 60.35%;

$content-border-radius: 16px;
$content-background-color: var(--default-neutral-white, #FFF);
$content-width: 1235px;

.wrapper {
  height: $wrapper-height;
  background: linear-gradient($wrapper-background-gradient-angle, $wrapper-background-gradient-start-color $wrapper-background-gradient-start-color-length, $wrapper-background-gradient-end-color $wrapper-background-gradient-end-color-length);

  .layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $layout-space;
    padding: $layout-space;

    .header {
      height: $header-height;
    }

    .sider {
      min-width: $sider-width;
    }

    .content {
      border-radius: $content-border-radius;
      background-color: $content-background-color;
      flex: 1 0 0;
      overflow: hidden;
    }

    .mainOpenMenu {
    }
  }
}
