@import 'src/components/CopyWriting/common';

.copyWordCountEditor {
  @include copyWritingChildComponent;
  
  .copyWordChipWrapper {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    line-height: 24px;

    .icon {
      width: 16px;
      height: 16px;
    }
  }
}