.editableStateChip {
  position: relative;

  .icon {
    width: 16px;
    height: 16px;
  }

  .textFieldWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;

    border-radius: 30px;
    background: var(--default-neutral-white, #FFF);
    box-shadow: 0 4px 20px 0 rgba(102, 101, 116, 0.20);

    padding: 12px 16px;

    .textField {
      width: 300px;
      color: rgba(35, 17, 108, 0.50);

      :global(.MuiInputAdornment-positionStart) {
        margin: unset;
        padding-right: 4px;

        .bar {
          color: #6941FF;
        }
      }

      :global(.MuiInputAdornment-positionEnd) {
        .inputButton {
          background-color: unset;

          &:hover {
            color: #6941FF;
          }
        }
      }

      :global(.MuiInputBase-root) {
        font-family: 'Noto Sans', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */

        &:before, &:after {
          border: none;
        }
      }
    }
  }
}