@font-face {
  font-family: 'dxu70';
  src: url(./Font/DXUnigothic-70-KSCpc-EUC-H.woff);
}

@font-face {
  font-family: 'dxu30';
  src: url(./Font/DXUnigothic-30-KSCpc-EUC-H.woff);
}

@font-face {
  font-family: 'paybc';
  src: url(./Font/paybooc\ Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'paybc';
  src: url(./Font/paybooc\ Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'paybc';
  src: url(./Font/paybooc\ Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'paybc';
  src: url(./Font/paybooc\ ExtraBold.ttf);
  font-weight: 800;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #F5F5F8;
  border-radius: 16px;
  border: 1px solid #fff;
}

html,
body {
  height: 100%;
  background: linear-gradient(145deg, #522CBB 0%, #833CF5 60.35%);
  margin: unset;
  scrollbar-width: 8px;
  /* "auto" or "thin" */
  scrollbar-color: #F5F5F8 transparent;
}

body>div:first-child {
  height: 100%;
}

:global(.MuiAutocomplete-popper) {
  top: 1px !important;
}

:global {
  --default-neutral-white: #FFF;
}