html, body {
  height: 100%;
  background: linear-gradient(145deg, #522CBB 0%, #833CF5 60.35%);
  margin: unset;
}

body > div:first-child {
  height: 100%;
}

:global(.MuiAutocomplete-popper) {
  top: 1px !important;
}

:global {
  --default-neutral-white: #FFF;
}
