@import '../common';

$copy-writing-space: 24px;

.copyWritingEditor {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: $copy-writing-space;
  flex: 1 0 0;
  max-width: 660px;
  min-width: 600px;
  height: 100%;
  overflow: auto;

  .headTitle {
    color: #6E7494;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .hideGenerateOptionEditor {
    display: none;
  }

  .additionalRequestBox {
    flex: 1 0 0;
  }

  .buttonFlexBox {
    // flex: 1 0 0;
    justify-content: flex-end;

    .buttonWrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      .submitButton {
        display: flex;
        padding: 12px 48px 12px 42px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        flex-shrink: 0;
        border-radius: 30px;
        background: #8138FF;
        font-size: 18px;
        font-weight: 700;
        box-shadow: unset;

        :global(.MuiButton-startIcon) {
          margin: unset;
        }

        &:global(.Mui-disabled) {
          background: #F5F5F8;
        }
      }

      .resetWrapper {
        color: #6A30D8;
        display: flex;
        align-items: center;
        gap: 8px;
        position: absolute;
        right: -8px;
        bottom: 0;

        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */

        &:hover {
          background-color: unset;
        }

        :global(.MuiButton-startIcon) {
          margin: unset;
        }

        &:global(.Mui-disabled) {
          color: #C2C2D2;
        }

        .resetIcon {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}