@import '../common';

$copy-writing-space: 32px;
$copy-writing-border-radius: 16px;
$copy-writing-background-color: #F5F5F8;;
$copy-writing-border-radius: 8px;

$copy-writing-icon-color: #9093BF;

.copyWritingEditor {
  padding: $copy-writing-space;
  display: flex;
  flex-direction: column;
  gap: $copy-writing-space;
  flex: 1 0 0;
  max-width: 660px;
  min-width: 600px;

  .autoCompleteWrapper {
    @include copyWritingChildComponent;

    flex: unset;

    .autoComplete {
      background-color: $copy-writing-background-color;
      border-radius: $copy-writing-border-radius;

      & :global(.MuiAutocomplete-inputRoot) {
        .autoCompleteSearchIcon {
          color: $copy-writing-icon-color;
        }

        :global(.MuiOutlinedInput-notchedOutline) {
          border: none;
        }
      }
    }
  }

  .hideGenerateOptionEditor {
    display: none;
  }

  .buttonFlexBox {
    flex: 1 0 0;
    justify-content: flex-end;

    .buttonWrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      .submitButton {
        display: flex;
        padding: 12px 38px 12px 32px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        flex-shrink: 0;
        border-radius: 30px;
        background: #8138FF;

        :global(.MuiButton-startIcon) {
          margin: unset;
        }
      }

      .resetWrapper {
        color: #6A30D8;
        display: flex;
        align-items: center;
        gap: 8px;
        position: absolute;
        right: 0;
        bottom: 0;

        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */

        &:hover {
          background-color: unset;
        }

        :global(.MuiButton-startIcon) {
          margin: unset;
        }

        .resetIcon {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}