@mixin genieThemeChildComponent {
  padding: 32px;
}

@mixin themeSuggestionChildComponentLabel {
  color: #23116C;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 162.5% */
}
