@import 'src/components/common';
@import 'src/components/GenieTheme/common';

.genieTheme {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  // height: fit-content;
  // height: 100vh;
  // height: 100dvh;

  .genieThemeSuggestionWrapper {
    @include componentItem;
    @include genieThemeChildComponent;

    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow: auto;
    flex: 1 0 auto;

    justify-content: center;
    align-items: center;
    height: 100%;
  }
}