@import 'src/components/common';
@import 'src/components/GenieTheme/common';

.genieTheme {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  height: fit-content;

  .genieThemeSuggestionWrapper {
    @include componentItem;
    @include genieThemeChildComponent;

    display: flex;
    flex-direction: row;
    gap: 20px;
    flex: 1 0 0;

    justify-content: center;
    align-items: center;
  }
}