@import 'src/components/CopyWriting/common';

.synopsisGenerateOptionEditor {
  @include copyWritingChildComponent;

  & :global(.MuiButtonBase-root){
    background-color: #F5F5F8;
    height: unset;
    width: 280px;

  }

  & :global(.MuiButtonBase-root):last-child{
    width: unset;    
  }

  .label {
    @include copyWritingChildComponentLabel;
  }

  .icon {
    width: 16px;
    height: 16px;
  }
}