@import 'src/components/CopyWriting/common';

.synopsisGenerateOptionEditor {
  @include copyWritingChildComponent;

  & :global(.MuiButtonBase-root){
    background-color: #F5F5F8;
    height: unset;
    width: 280px;
    pointer-events: none;

    p,
    :global(.MuiChip-icon) {
      color: rgba(0, 0, 0, 0.26) !important;
    }
  }

  & :global(.MuiButtonBase-root):nth-child(3){
    background-color: #EFE7FF;

    p {
      color: #6A30D8 !important;
    }
  }

  & :global(.MuiButtonBase-root):last-child{
    width: unset;    
  }

  .label {
    @include copyWritingChildComponentLabel;
  }

  .icon {
    width: 16px;
    height: 16px;
  }
}